<mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 1">
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. Select Delivery Address
            </mat-panel-title>
            <mat-panel-description *ngIf="selectedIndex != 1">
                <div class="d-flex">
                    <div>
                        {{selectedAddress.name}}, {{selectedAddress.address1}}, {{selectedAddress.address2 ?
                        selectedAddress.address2 + ',' : ''}} {{selectedAddress.landMark}}, {{selectedAddress.city}},
                        {{getState(selectedAddress.state)}}, {{getCountry(selectedAddress.country)}},
                        {{selectedAddress.pin}}
                    </div>
                    <div>
                        <button type="button" class="btn btn-link" (click)="onChangeOption(1)">Change</button>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-addresses (selectAddress)="onSelectAddress($event)"></app-addresses>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 2">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Gift Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>No gifts available</h2>
            <div class="action-container">
                <button type="button" class="btn btn-primary" (click)="onChangeOption(3)">Go To Payment Method</button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 3">
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Select Payment Method
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-payment-methods (completePayment)="onCompletePayment()"></app-payment-methods>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 4">
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Offers
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>No offers available</h2>
            <div class="action-container">
                <button type="button" class="btn btn-primary" (click)="onChangeOption(5)">View Order</button>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 5">
        <mat-expansion-panel-header>
            <mat-panel-title>
                5. Items and Delivery
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <h2>Order Details</h2>
        </div>
        <app-payment-methods></app-payment-methods>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle [expanded]="selectedIndex == 6">
        <mat-expansion-panel-header>
            <mat-panel-title>
                6. Review Items and Delivery
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cart-container" *ngIf="itemService.cartInfo$ | async as cartItems">
            <ng-container *ngIf="cartItems.length; else noItems">
                <div class="arrive-date">Arriving {{date | date:'dd MMM yyyy' }}</div>
                <div>If you order in the next 4 hours and 23 minutes (Details)</div>
                <div>Items dispatched by Amazon<img src="../../assets/images/aFullfilled.jfif" width="146px"
                        height="50px"></div>
                <div *ngFor="let item of cartItems; let i = index">
                    <div class="img-container">
                        <img [src]="item.imgUrl" width="150px" height="150px">
                        <div class="description-container">
                            <p class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</p>
                            <div style="margin-top: -15px;font-size: 14px;">In stock</div>
                            <div style="font-size: 14px;">Eligible For Free Shipping</div>
                            <div class="total-price"><del>₹30</del><span class="price">{{item.price |
                                    currency:'INR'}}</span><img src="../../assets/images/aFullfilled.jfif" width="146px"
                                    height="50px"></div>
                            <span class="qty-container">
                                <span>Qty: </span>
                                <select name="quantity" class="quantity-list" autocomplete="off"
                                    [(ngModel)]="item.quantity" (change)="onQtyChange(cartItems)">
                                    <option [value]="num" *ngFor="let num of quantityList">{{num}}</option>
                                </select>
                            </span>
                        </div>
                        <div class="delivery-container">
                            <div class="delivery-description">Choose delivery option:</div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1" checked>
                                    Saturday 9 mar
                                </label>
                            </div>
                            <div class="free-delevery">FREE Delivery</div>
                        </div>
                    </div><br>
                    <hr>
                </div>
            </ng-container>
            <div class="total-order">
                <button type="button" class="btn btn-warning" (click)="placeorder()">Place your Order</button>
                <div class="totalorder">Order Total: <span class="details">{{totalOrder | currency:'INR'}}</span></div>
            </div>
            <p class="placing-description">By placing your order, you agree to Amazon's privacy notice and conditions of
                use.</p>
            <ng-template #noItems>
                <div>No items added. Please add items.</div>
            </ng-template>
        </div>
    </mat-expansion-panel>
</mat-accordion>