<div class="cart-container">
    <div class="header-content">
        <h4>Shopping Cart</h4>
        <p>Price</p>
    </div>
    <div class="items">
        <div class="img-container">
            <img src="../../assets/images/mobile.webp" width="150px" height="150px">
        </div>
        <div class="description-container">
            <div>
                <p class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</p>
                <span>₹24,999</span>
            </div>
            <div class="">In stock</div>
            <div>Eligible For Free Shipping</div>
            <span class="qty-container">
                <span>Qty: </span>
                <select name="quantity" autocomplete="off">
                    <option selected="1" value="1" *ngFor="let num of numbers">{{num}}</option>
                </select>
            </span>
        </div>
    </div>
</div>