<div class="order-container" *ngFor="let order of orderList">
    <div class="order-descrition">
        <div>ORDER PLACED</div>
        <div class="total">TOTAL</div>
        <div class="shipTo">SHIP TO</div>
        <div style="margin-left: 477px;">ORDER# {{order.id}}</div>
    </div>
    <div class="descrition">
        <div>{{order.date | date:'dd MMM yyyy'}}</div>
        <div>₹264.00</div>
        <div>{{order.shippingAddress[0].name}}</div>
        <div style="margin-left: 405px;">View order details</div>
        <div>Invoice</div>
    </div>
    <hr>
    <div class="arrived">Arriving Monday</div>
    <div class="patched">Not yet disatched</div>

    <div class="img-container" *ngFor="let item of order.items">
        <img [src]="item.imgUrl" width="150px" height="150px">
        <div class="description-container">
            <p class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</p>
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-warning" (click)="tracking()">Track package</button><br><br>
        <button class="btn btn-light" [routerLink]="['/orderDetails', order.id]">View or edit order</button>
    </div>
    <hr>
    <div class="archive">Archive order</div>
</div>
