.order-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    width: 97%;
    margin: 20px;

    .order-descrition {
        display: flex;
        gap: 107px;
        margin-top: 10px;
        color:gray;
        .total{
            margin-left: -22px;
        }
        .shipTo{
            margin-left: 14px;
        }
    }

    .descrition {
        display: flex;
        gap: 110px;
        color:gray;
    }
   .arrived {
        font-weight: 500;
        font-size: 20px;
   }
   .patched{
    color: green;
   }
    .img-container {
        display: flex;
        gap: 80px;
        margin-top: 36px;
        .description {
            font-weight: 500;
            font-size: 18px;
            color:rgb(14, 138, 187);
        }
    }

    .button-container {
        float: right;
        position: relative;
        top: -147px;
        right: 16px;
    
        button {
            border-radius: 9px;
            font-size: 13px;
            width: 267px;
        }
    }
    hr{
        width:100%;
    }
    .archive{
        color:rgb(14, 138, 187);
    }
}