.toolbar-container {
    display: flex;
    padding: 2px 10px;
    border-bottom: 2px solid red;
    .item-cnt {
        flex-grow: 1;
    }

    .filter-sort-container {
        flex-grow: 4;
        display: flex;
        justify-content: space-between;
    }
}