<div class="toolbar-container">
    <div class="item-cnt">
        1-10 of {{totalResults}} results
    </div>
    <div class="filter-sort-container">
        <div class="filter">
            <!-- <mat-form-field class="example-chip-list" appearance="fill"> -->
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let filter of filters; let i = index"
                    (removed)="remove(i)">
                    {{filter.name}}
                    <button matChipRemove>
                        <i class="bi bi-x-circle"></i>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              <!-- </mat-form-field> -->
              
        </div>
        <div class="sorting">
            sorting
        </div>
    </div>
</div>
