<h1>Item Details</h1>
<div class="item-details-container">
    <div class="item-details-description">
        <img [src]="item.imgUrl" width="180px" height="180px">
        <div class="item-details">
            <div class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</div>
            <div class="price"><span>₹{{item.price}}</span> M.R.P: <del>₹30</del> (7% off)</div>
            <div class=" ">
                <div><b>Brand</b><span class="details">Vivo</span></div>
                <div><b>Model Name</b><span class="details">Y28</span></div>
                <div><b>Network Service Provider</b><span class="details">Unlocked for All Carriers</span></div>
                <div><b>Operating System</b><span class="details">Funtouch OS 13 Global</span></div>
                <div><b>Cellular Technology</b><span class="details">LTE</span></div>
            </div>
        </div>
        <div class="item-list-container">
            <div class="name">{{item.name}}</div>
            <div class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</div>
            <div class="price"><span>{{item.price | currency:'INR'}}</span> M.R.P: <del>₹30</del> (7% off)</div>
            <span class="quantity">Quantity:
                <select name="quantity" class="quantity-list" autocomplete="off" [(ngModel)]="item.quantity">
                    <option [value]="num" *ngFor="let num of quantityList">{{num}}</option>
                </select>
            </span>
            <button type="button" class="btn btn-warning" (click)="addToCart(item)">Add to Cart</button>
            <button type="button" class="btn btn-info">Buy Now</button>
        </div>
    </div>
</div>