<div class="summary-container">
    <div class="header-container">
        <p class="header-content">Your order is eligible for FREE Delivery</p>
        <p class="header-content">Select this option at checkout. <a href="">Details</a></p>
    </div>
    <div class="subtotal">Subtotal (6 items): <span>₹24,999</span></div>
    <div class="checkbox-content">
        <input type="checkbox" checked/>
        <span>This order contains a gift</span>
    </div>
    <button type="button" class="btn btn-warning">Proceed to Buy</button>
</div>
