<div class="login-container">
    <mat-card>
        <mat-card-content>
            <div class="login-content">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            
                <h2>Loging Page</h2>
                <p>Please enter your details to sign in</p>
            </div>
            <div class="buttons-container">           
                <a mat-raised-button href="https://www.google.com/" target="_blank">G</a>
                <a mat-raised-button href="https://www.google.com/" target="_blank">A</a>
                <a mat-raised-button href="https://www.google.com/" target="_blank">f</a>
            </div>
        </mat-card-content>
      </mat-card>
</div>
