.cart-container {
    padding: 15px;
    border: 2px solid #ddd;
    .header-content{
        display: flex;
        justify-content: space-between;
    }
    .items {
        display: flex;
        gap: 10px;
    }
}