
<app-header></app-header>
<ng-container *ngIf="!isLoginPage">
  <app-menu></app-menu>
  <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container> -->
  <app-toolbar *ngIf="!isCart"></app-toolbar>
</ng-container>
<div class="main-container">
  <ng-container *ngIf="!isLoginPage && !isCart">
    <div class="side-menu">
      <app-sidenav></app-sidenav>
    </div>
  </ng-container>
  <div class="main-content" >
    <router-outlet></router-outlet>
  </div>
  <div class="right-menu" *ngIf="isCart">
    <app-summary></app-summary>
  </div>
</div>
<app-footer></app-footer>