<div class="item-list-container">
    <h2>Items List</h2>
    <div class="items">
        <div class="item" *ngFor="let item of itemList">
            <img src="../../assets/images/mobile.webp" width="180px" height="180px">
            <div class="name">{{item.name}}</div>
            <div class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</div>
            <div class="price"><span>₹24,999</span>M.R.P: <del>₹26,999</del> (7% off)</div>
            <span class="quantity">Quantity:
                <select name="quantity" autocomplete="off">
                    <option selected="" value="1" *ngFor="let num of numbers">{{num}}</option>
                </select>
            </span>
            <button type="button" class="btn btn-warning">Add to Cart</button>
            <button type="button" class="btn btn-info">Buy Now</button>
        </div>
    </div>
</div>
<div class="pagination-container">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" [class.active]="i == seletedPage" aria-current="page" *ngFor="let i of pageNumbers"
                (click)="onSelectPage(i)">
                <a class="page-link">{{i}}</a>
            </li>
            <li class="page-item">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>