.top-menu {
    background-color: #232f3e;    
    border-bottom: 2px solid red;
    .nav-link {
        color: #fff;
        &.active {
            border: 1px solid;
            color: blue;
            background: lightblue;
        }
    }
}