<div class="order-details-container">
    <div class="order-details-header">Order Details</div>
    <div class="order-details-descrition">
        <div>Ordered on {{currentDate | date:'dd MMM yyyy'}}</div>
        <div class="widget"></div>
        <div>Order# 406-4371627-4309159</div>
    </div>
    <div class="order-details">
        <div class="shipping-address">
            <h5>ShippingAddress</h5>
            <div>Shiping to Venkata Nageswararao palisetty Pillutla Machavaram M, Guntur District, PIDUGURALLA, ANDRA
                PRADESH 522413 India</div>
        </div>
        <div class="payment-methods">
            <h5>Payment Methods</h5>
            <div>pay on Delivery</div>
        </div>
        <div class="order-summary">
            <h5>Order Summary</h5>
            <div>Item(s) Subtotal:<span class="details">{{totalPrice | currency:'INR'}}</span></div>
            <div>shipping:<span class="details">{{shipping | currency:'INR'}}</span></div>
            <div>Total: <span class="details">{{totalAmount | currency:'INR'}}</span></div>
            <div class="grand-total">Grand Total:<span class="details">{{totalAmount | currency:'INR'}}</span></div>
        </div>
    </div>
    <div class="order-descrition">
        <div class="arrived">Arriving Monday</div>
        <div class="patched">Not yet disatched</div>
        <div class="cart-container" *ngIf="itemService.cartInfo$ | async as cartItems">
            <ng-container *ngIf="cartItems.length; else noItems">
                <div *ngFor="let item of cartItems; let i = index">
                    <div class="item-container">
                        <div class="img-container">
                            <img [src]="item.imgUrl" width="150px" height="150px">
                            <div class="description-container">
                                <p class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</p>
                                <div class="price">{{item.price | currency:'INR'}}</div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button class="btn btn-warning">Track package</button><br><br>
                            <button class="btn btn-light" (click)="cancelorder()">Cancel items</button><br>
                            <button class="btn btn-light">Archive order</button>
                            <h6>Shipping speed</h6>
                            <div>Delivery</div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #noItems>
                <div>No items added. Please add items.</div>
            </ng-template>
        </div>
    </div>
</div>