<div class="order-details-container">
    <div class="order-details-header">Order Details</div>
    <div class="order-details-descrition">
        <div>Ordered on {{orderItem.date | date:'dd MMM yyyy'}}</div>
        <div class="widget"></div>
        <div>Order# {{orderItem.id}}</div>
    </div>
    <div class="order-details">
        <div class="shipping-address">
            <h5>ShippingAddress</h5>
            <div>{{orderItem.shippingAddress[0].name}} {{orderItem.shippingAddress[0].address1}}
                {{orderItem.shippingAddress[0].address2 ? orderItem.shippingAddress[0].address2 + ',' : ''}}
                {{orderItem.shippingAddress[0].city}} {{orderItem.shippingAddress[0].state}}
                {{orderItem.shippingAddress[0].country}}
                {{orderItem.shippingAddress[0].pin}}</div>
        </div>
        <div class="payment-methods">
            <h5>Payment Methods</h5>
            <div>pay on Delivery</div>
        </div>
        <div class="order-summary">
            <h5>Order Summary</h5>
            <div>Item(s) Subtotal:<span class="details">{{totalPrice | currency:'INR'}}</span></div>
            <div>shipping:<span class="details">{{shipping | currency:'INR'}}</span></div>
            <div>Total: <span class="details">{{totalAmount | currency:'INR'}}</span></div>
            <div class="grand-total">Grand Total:<span class="details">{{totalAmount | currency:'INR'}}</span></div>
        </div>
    </div>
    <div class="order-descrition">
        <div class="arrived">Arriving Monday</div>
        <div class="patched">Not yet disatched</div>
       
                    <div class="item-container" *ngFor="let item of orderItem.items">
                        <div class="img-container">
                            <img [src]="item.imgUrl" width="150px" height="150px">
                            <div class="description-container">
                                <p class="description">Oneplus Nord CE 3 5G (Grey Shimmer, 8GB RAM, 128GB Storage)</p>
                                <div class="price">{{item.price | currency:'INR'}}</div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button class="btn btn-warning">Track package</button><br><br>
                            <button class="btn btn-light" (click)="cancelorder()">Cancel items</button><br>
                            <button class="btn btn-light">Archive order</button>
                            <h6>Shipping speed</h6>
                            <div>Delivery</div>
                        </div>
                    </div>
         
    </div>
</div>